#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
}

#toggleRoute {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#locationAlert{
    display: none;
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}