body {
    background-image: url('../14966546391_963e58415e_b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Russo One';
    color: white;
}

h1, h2, h3, h5, h6 {
    font-family: 'Boldonse';
    color: aliceblue;
}

.navbar-brand {
    font-family: 'Boldonse';
    font-weight: bold;
}

.btn {
    font-family: 'Russo One';
}

.btn-primary {
    background-color: #7D8CC4;
    border-color: #7D8CC4;
}

.btn-primary:hover{
    background-color: #424a67;
    border-color: #424a67;
}

.btn-secondary {
    background-color: #A0D2DB;
    border-color: #A0D2DB;
}

.btn-secondary:hover{
    background-color:#66858b;
    border-color: #66858b;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover {
    color: rgb(177, 177, 177);
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
}

#toggleRoute {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#locationAlert{
    display: none;
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
