{% extends 'base.html' %}

{% block title %}
    About - Find My Spot
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="mb-4">About Find My Spot</h1>
        
        <p class="fs-5 mb-4">
            Find My Spot is a community-driven parking app that helps drivers locate available parking spots in an urban area. <br>
            With community collaboration and modern technologies we wish to improve urban mobility.<br> 
            We aim to reduce the time spent searching for parking and reduce the traffic in the city.
        </p>
        <br>
        <h1 class="mb-3">How It Works</h1>
        <p class="fs-5 mb-4">
            1. Use the interactive map to find nearby parking spots<br>
            2. Get directions to the nearest parking location<br>
            3. Add new parking spots you discover to help the community<br>
            4. Confirm other spots to help the community
        </p>
        <br>
        <h1 class="mb-3">Features</h1>
        <p class="fs-5 mb-4">
            • Real-time parking availability<br>
            • Interactive map with detailed spot information<br>
            • Community contributions<br>
            • Payment information for each spot<br>
            • Images for certain spots<br>
            • GPS-based navigation
        </p>
        <br>
        <br>
        
        <h1 class="mb-3">Explore:</h1>
        <br>
        
        <div >
            <a href="{% url 'locations' %}" class="btn btn-secondary btn-lg me-3">Find Parking</a>
            <a href="{% url 'homepage' %}" class="btn btn-primary btn-lg">Homepage</a>
        </div>
        <br>
        <br>
    </div>
</div>
{% endblock %}
