{% extends 'base.html' %}

{% block title %}
    Add Spot
{% endblock %}

{% block content %}
<div class="container">
    <div class="form-container">
        <br>
        <h2 class="mb-4">Add New Parking Spot</h2>
        
        <form method="POST" enctype="multipart/form-data" id="addSpotForm">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Spot Name</label>
                <input type="text" class="form-control" 
                       id="name" name="name" required value="{{ form.name.value|default:'' }}">
            </div>

            <div class="mb-3">
                <label class="form-label">Location</label>
                <div id="map"></div>
                <input type="hidden" id="latitude" name="latitude" required value="{{ form.latitude.value }}">
                <input type="hidden" id="longitude" name="longitude" required value="{{ form.longitude.value }}">
            </div>
            <button type="button" class="btn btn-primary mb-3" onclick="useCurrentLocation()">Use My Location</button>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" 
                          id="description" name="description" rows="3">{{ form.description.value|default:'' }}</textarea>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="file" class="form-control" 
                       id="image" name="image" accept="image/*" >
                <img id="preview" class="preview-image d-none">
            </div>

            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="is_free" 
                           name="is_free" checked onchange="togglePaymentForm()">
                    <label class="form-check-label" for="is_free">
                        This is a free parking spot
                    </label>
                </div>
            </div>            
            
            <div id="paymentForm" class="mb-3" style="display: none;">
                <h4>Payment Details</h4>
                <div class="mb-3">
                    <label for="fee" class="form-label">Fee</label>
                    <input type="number" class="form-control" id="fee" name="fee">
                </div>

                <div class="mb-3">
                    <label for="currency" class="form-label">Currency</label>
                    <select class="form-control" id="currency" name="currency">
                        <option value="RON">RON</option>
                        <option value="EUR">EUR</option>
                        <option value="USD">USD</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label for="payment_methods" class="form-label">Payment Methods</label>
                    <select class="form-control" id="payment_methods" name="payment_methods">
                        <option value="Cash">Cash</option>
                        <option value="Card">Card</option>
                    </select>
                </div>
            </div>

            <button type="submit" class="btn btn-primary mb-5">Add Spot</button>
        </form>
    </div>
</div>

<script>
    let marker = null;

    function togglePaymentForm() {
        const isFree = document.getElementById('is_free').checked;
        const paymentForm = document.getElementById('paymentForm');
        const feeField = document.getElementById('fee');
        
        paymentForm.style.display = isFree ? 'none' : 'block';
        
        if (isFree) {
            feeField.removeAttribute('required');
        } else {
            feeField.setAttribute('required', '');
        }
    }

</script>

{% endblock %}