{% extends 'base.html' %}

{% block content %}

    <div class="container text-center mt-5">
        <dotlottie-player src="https://lottie.host/7dac2b49-0e6a-475a-81ef-eee3ba69aea0/3i2dDoV8F0.lottie" background="transparent" speed="1" style="width: 300px; height: 300px; margin: 0 auto;" loop autoplay></dotlottie-player>
        <h1 class="mb-4">Find my spot</h1>
        <div class="d-flex flex-column align-items-center">
            <a class="btn btn-primary btn-lg mb-3 w-50" href="{% url 'signup' %}" role="button">Sign Up</a>
            <a class="btn btn-secondary btn-lg mb-3 w-50" href="{% url 'login' %}" role="button">Log In</a>
            <a class="btn btn-success btn-lg mb-3 w-50" href="{% url 'locations' %}" role="button">Find Nearest Spot</a>
            <a class="btn btn-warning btn-lg mb-3 w-50" href="{% url 'addspot' %}" role="button">Add Spot</a>
        </div>
    </div>
    
{% endblock %}