{% extends 'base.html' %}

{% block title %}
    Find Nearest Spot
{% endblock %}

{% block content %}

<style>
    #map {
        width: 100vw;
        height: calc(100vh - 50px);
        position: fixed;
        top: 50px;
        left: 0;
        z-index: 1;
    }

    .navbar {
        z-index: 1000;
    }
    
    .leaflet-routing-container {
        display: none;
    }
</style>

<div id="map"></div>
<button id="toggleRoute" class="btn btn-primary">Hide Route</button>
<button id="refreshPage" class="btn btn-secondary">Update Map</button>

<script>
    const parkingSpots = JSON.parse('{{ locations|escapejs }}');
    const approveSpotUrl = '{% url "approve_spot" %}';
    const csrfToken = '{{ csrf_token }}';
</script>

{% endblock %}
